.banner{
    $this: &;
    width: 100%;
    #{$this}__container{
        position: relative;
        &::before{
            content: "";
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            display: flex;
            background-color: rgba(0, 0, 0, 0.656);
            position: absolute;
            
        }
        img{
            @include MediaQuery($tablet){
                height: 55vh;
            }
            width: 100%;
            object-fit: cover;
            height: 97vh;
            display: block;
        }
    }
    .slick-next{
        right: 0;
        display: none;
    }
    .slick-prev:before, .slick-next:before{
        color: rgba(0, 0, 0, 0);
    }
    .slick-dotted.slick-slider{
        margin-bottom: 0px;
    }
    .slick-dots {
        bottom: 5rem;
    }
    .slick-dots li.slick-active button:before {
        opacity: .75;
        color: rgb(250, 0, 0);
    }
    .slick-dots li button:before {
        font-family: 'slick';
        font-size: 15px;
        color: rgb(255, 255, 255);
    }
    #{$this}__content{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        #{$this}__text{
            @include MediaQuery($tablet){
                width: 90%;
            }
            @include MediaQuery($mobile){
                width: 100%;
            }
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 55%;
            h2{
                @include MediaQuery($mobile){
                    font-size: 30px;
                }
                color: $white;
                font-size: 50px;
                font-weight: 700;
            }
            p{
                @include MediaQuery($mobile){
                    margin: 30px 0;
                }
                color: rgb(191, 188, 188);
                font-size: 18px;
                margin: 50px 0;
                padding-left: 15px;
                border-left: 5px solid $white;
                line-height: 30px;
                font-weight: 600;
            }
            #{$this}__button{
                button{
                    @include MediaQuery($mobile){
                        padding: 15px 25px;
                    }
                    outline: none;
                    border: 1px solid $white;
                    font-size: 18px;
                    padding: 15px 40px;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: all 0.5s ease;
                    &.first-child{
                        color: $red;
                        margin-right: 10px;
                        &:hover{
                            color: $white;
                            background-color: $red;
                            border: 1px solid $red;
                        }
                    }
                    &.last-child{
                        background-color: #00000000;
                        color: $white;
                        &:hover{
                            background-color: $white;
                            color:$black;
                        }
                    }
                }
            }
        }
    }
}