.blog{
    $this: &;
    padding: 48px 0;
    background-color: #f7f7f7;
    #{$this}__content{
        text-align: center;
    }
    #{$this}__title{
        margin-bottom: 40px;
        span{
            font-size: 16px;
            color: $silver;
        }
        h3{
            font-size: 40px;
            font-weight: 600;
        }
    }
    #{$this}__post{
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }
    #{$this}__boder{
        @include MediaQuery($mobile){
            flex: 0 0 100%;
            max-width: 100%;
        }
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
        padding: 0 15px;
        #{$this}__image{
            height: 250px;
            width: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                border-radius: 10px;
            }
        }
        #{$this}__text{
            text-align: left;
            padding: 30px 0;
            span{
                a{
                    color: $red;
                    text-decoration: none;
                    transition: all 0.5s;
                    &:hover{
                        color: $black;
                    }
                }
            }
            h4{
                font-size: 25px;
                font-weight: 600;
                margin: 30px 0;
                cursor: pointer;
                transition: all 0.5s ease;
                &:hover{
                    color: $red;
                }
            }
            button{
                outline: none;
                border: none;
                background-color: $red;
                color: $white;
                font-weight: 600;
                font-size: 18px;
                padding: 15px 40px;
                border-radius: 10px;
            }
        }
    }
}