.elephant{
    $this:&;
    padding: 60px 0px;
    background-image: url(../../../src/img/wolfgang-hasselmann-P7L5011nD5s-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(7, 7, 7, 0.762);
        display: block;
        z-index: -1;
    }
    #{$this}__content{
        padding: 60px 0;
        text-align: center;
        z-index: 1;
    }

    #{$this}__number{
        color: #fff;
        h3{
            font-size: 55px;
            font-weight: 600;
        }
        h4{
            font-size: 20px;
            margin: 20px 0;
            color: #fdd340;
            font-weight: 600;
        }
        p{
            font-size: 17px;
            line-height: 30px;
        }
    }
}
