.footer{
    $this: &;
    background-color: $black;
    p{
        color: #c5c5c5;
    }
    #{$this}__content{
        padding: 48px 0;
    }
    #{$this}__logo{
        h2{
            font-size: 30px;
            font-weight: 700;
            color: $white;
            span{
                color: $red;
            }
        }
        p{
            font-size: 18px;
            line-height: 30px;
            margin: 20px 0;
        }
        #{$this}__icon{
            i{
                height: 40px;
                width: 40px;
                line-height: 40px;
                text-align: center;
                border: 1px solid rgb(173, 173, 173);
                border-radius: 50%;
                color: $white;
                cursor: pointer;
                transition: all 0.5s ease;
                margin-right: 20px;
                &:hover{
                    background-color: $red;
                    border: 1px solid $red;
                }
            }
        }
    }
    #{$this}__ul{
        text-align: center;
        h4{
            font-size: 25px;
            font-weight: 600;
            color: $white;
            margin-bottom: 30px;
        }
        li{
            list-style: none;
            margin: 20px 0;
            color: #c5c5c5;
            font-size: 18px;
        }
    }
    #{$this}__istagram{
        h3{
            font-size: 25px;
            font-weight: 600;
            color: $white;
            margin-bottom: 30px;
        }
        p{
            font-size: 18px;
            line-height: 25px;
        }
    }
    #{$this}__copyright{
        border-top: 1px solid rgb(126, 126, 126);
        padding: 30px 0;
        text-align: center;
        span{
            color: $red;
        }
    }
}