.header{
    $this: &;
    padding: 20px;
    position: absolute;
    z-index: 1;
    width: 100%;
    transition: all 0.5s ease;
    @include MediaQuery($tablet){
        padding: 20px 15px;
    }
    &.active{
        background-color: rgb(53, 51, 51);
        position: fixed;
        padding: 15px 0;
        #{$this}__menu{
            ul{
                li{
                    color: #000;
                }
            }
        }
    }
    #{$this}__container{
        @include MediaQuery($tablet){
            position: relative;
        }
    }
    #{$this}__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            text-decoration: none;
            h1{
                color: $white;
                font-size: 30px;
                font-weight: 600;
                span{
                    color: $red;
                }
            }
        }
    }
    #{$this}__menu{
        @include MediaQuery($tablet){
            position: absolute;
            top: 100%;
            border-radius: 10px;
            width: 100%;
            background-color: $white;
            display: none;
            box-shadow: 0 25px 98px 0 rgb(0 0 0 / 20%);
            &.active{
                display: block;
            }
        }
        ul{
            @include MediaQuery($tablet){
                display: block;
                text-align: center;
                padding: 12px 0;
            }
            display: flex;
            align-items: center;
            li{
                @include MediaQuery($tablet){
                    margin: 0;
                    color: $black;
                    margin: 20px 0;
                }
                margin: 0 16px;
                color: $white;
                font-size: 17px;
                font-weight: 500;
                cursor: pointer;
                &:first-child{
                    color: $red;
                }
                &.search{
                    .fa-magnifying-glass{
                        height: 40px;
                        width: 40px;
                        line-height: 40px;
                        text-align: center;
                        background-color: rgba(193, 193, 193, 0.401);
                        border-radius: 50%;
                        font-size: 15px;
                        transition: all 0.5s ease;
                        &:hover{
                            background-color: $red;
                        }
                    }
                    #{$this}__inputshearch{
                        display: none;
                        position: fixed;
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.845);
                        #{$this}__item{
                            @include MediaQuery($mobile){
                                max-width: 390px;
                            }
                            position: relative;
                            margin: 0 auto;
                            top: 50%;
                            transform: translateY(-50%);
                            max-width: 600px;
                            .fa-xmark{
                                @include MediaQuery($tablet){
                                    color: $white;
                                }
                                text-align: right;
                                display: block;
                                margin-bottom: 30px;
                                font-size: 25px;
                            }
                            #{$this}__ill{
                                @include MediaQuery($mobile){
                                    padding: 40px;
                                }
                                text-align: center;
                                background-color: $white;
                                display: flex;
                                justify-content: center;
                                padding: 60px 50px;
                                border-radius: 10px;
                                input{
                                    width: 100%;
                                    height: 50px;
                                    padding: 0 30px;
                                    font-size: 17px;
                                    outline: none;
                                    border: 1px solid rgb(205, 205, 205);
                                    border-right: none;
                                    border-top-left-radius: 10px;
                                    border-bottom-left-radius: 10px;
                                }
                                button{
                                    outline: none;
                                    padding: 0 30px;
                                    border: none;
                                    background-color: $red;
                                    color: $white;
                                    border-bottom-right-radius: 10px;
                                    border-top-right-radius: 10px;
                                    font-size: 17px;
                                }
                            }
                        }
                    }
                    .active{
                        display: block;
                    }
                }
            }
            .page{
                align-items: center;
                position: relative;
                i{
                    font-size: 13px;
                    margin-left: 10px;
                }
                #{$this}__listpage{
                    display: none;
                    @include MediaQuery($tablet){
                        position: static;
                        left: 0%;
                        transform: translateX(0%);
                        margin: 0 auto;
                        margin-top: 30px;
                        border: 1px solid $black;
                    }
                    &.active{
                        display: block;
                    }
                    // display: none;
                    position: absolute;
                    width: 150px;
                    height: auto;
                    padding: 20px;
                    background-color: $white;
                    border-radius: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 200%;
                    &::before{
                        @include MediaQuery($tablet){
                            border-top: 1px solid $black;
                            border-left: 1px solid $black;
                        }
                        content: "";
                        display: flex;
                        width: 20px;
                        height: 20px;
                        background-color: $black;
                        position: absolute;
                        top: -10px;
                        left: 50%;
                        transform: translateX(-50%) rotateZ(45deg);
                        background-color: $white;
                    }
                    a{
                        display: inline-block;
                        margin: 10px 0;
                        color: $black;
                        transition: all 0.2s ease;
                        &:hover{
                            color: $red;
                        }
                    }
                }
            }
        }
    }
    #{$this}__display{
        display: flex;
        align-items: center;
        color: $white;
        .fa-moon{
            font-size: 25px;
            cursor: pointer;
        }
        .fa-bars{
            @include MediaQuery($tablet){
                display: block;
                height: 40px;
                width: 40px;
                line-height: 40px;
                text-align: center;
                font-size: 20px;
                background-color: $red;
                border-radius: 7px;
                margin-left: 20px;
            }
            display: none;
        }
    }
}