.help{
    $this: &;
    padding: 48px 0;
    #{$this}__content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: -15px;
        margin-right: -15px;
        .width{
            @include MediaQuery($tablet){
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
    #{$this}__text{
        @include MediaQuery($tablet){
            margin-bottom: 30px;
        }
        flex: 0 0 55%;
        max-width: 55%;
        padding: 0 15px;
        span{
            font-size: 15px;
            font-weight: 600;
            color: $silver;
        }
        h3{
            font-size: 40px;
            font-weight: 600;
            margin: 30px 0;
        }
        p{
            font-size: 19px;
            line-height: 25px;
            color: $silver;
            margin-bottom: 30px;
        }
        ul{
            li{
                margin: 20px 0;
                i{
                    height: 30px;
                    width: 30px;
                    line-height: 30px;
                    text-align: center;
                    background-color: $red;
                    color: $white;
                    border-radius: 50%;
                    margin-right: 15px;
                }
                span{
                    font-size: 18px;
                    color: $black;
                }
            }
        }
    }

    #{$this}__image{
        flex: 0 0 45%;
        max-width: 45%;
        padding: 0 15px;
        img{
            width: 100%;
            height: auto;
            border-radius: 10px;
        }
    }
}