.item{
    $this: &;
    position: relative;
    overflow: hidden;
    margin-top: -90px;
    #{$this}__content{
        @include MediaQuery($tablet){
            justify-content: center;
        }
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }
    #{$this}__label{
        @include MediaQuery($tablet){
            flex: 0 0 50%;
            max-width: 50%;
            &:last-child{
                margin-top: 30px;
            }
        }
        @include MediaQuery($mobile){
            flex: 0 0 100%;
            max-width: 100%;
            &:first-child{
                margin-bottom: 30px;
            }
        }
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
        padding: 0px 15px;
        box-sizing: border-box;
    }
    #{$this}__all{
        padding: 40px;
        background-color: #ffffff;
        border-radius: 10px;
        transition: all 0.5s;
        box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.04);
        z-index: 0;
        &:hover #{$this}__icon i{
            background-color: $red;
            color: $white;
        }
        p{
            font-size: 18px;
            line-height: 30px;
            color: rgb(98, 97, 97);
            margin-top: 20px;
        }
    }
    #{$this}__icon{
        display: flex;
        align-items: center;
        i{
            font-size: 20px;
            color: $red;
            height: 60px;
            width: 60px;
            background-color: rgb(239, 239, 239);
            line-height: 60px;
            text-align: center;
            border-radius: 7px;
            margin-right: 20px;
        }
    }
    #{$this}__text{
        p{
            font-size: 17px;
            color: rgb(97, 97, 97);
            margin-bottom: 5px;
        }
        h4{
            font-size: 20px;
            font-weight: 600;
        }
    }
}