.review{
    padding: 48px 0;
    $this: &;
    #{$this}__title{
        text-align: center;
        span{
            font-size: 16px;
            color: $silver;
            font-weight: 600;
        }h3{
            font-size: 40px;
            font-weight: 600;
        }
    }
    #{$this}__people{
        padding: 48px 0;
        display: flex;
        margin-left: -15px;
        margin-right: -15px
    }
    #{$this}__item{
        padding: 0 15px;
    }
    #{$this}__text{
        padding: 35px;
        border: 1px solid #ececec;
        border-radius: 10px;
        position: relative;
        &::before{
            content: "";
            height: 14px;
            width: 14px;
            background-color: #fff;
            border-right: 1px solid #ececec;
            border-bottom: 1px solid #ececec;
            display: block;
            position: absolute;
            bottom: -7px;
            transform: rotate(45deg);
        }
        h4{
            font-size: 25px;
            font-weight: 600;
        }
        p{
            padding-top: 20px;
            font-size: 18px;
            color: $silver;
            line-height: 30px;
        }
    }
    #{$this}__image{
        display: flex;
        align-items: center;
        margin-top: 30px;
        img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: block;
        }
        #{$this}__name{
            margin-left: 30px;
            h5{
                font-size: 20px;
                font-weight: 600;
                padding-bottom: 20px;
            }
        }
    }
    .slick-dots li button:before {
        font-size: 13px;
    }
    .slick-dots li.slick-active button:before {
        color: #e51717;
    }
}

