.save{
    $this:&;
    padding: 48px 0;
    #{$this}__content{
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        align-items: center;
        
        .padding{
            @include MediaQuery($tablet){
                flex: 0 0 100%;
                max-width: 100%;
            }
            padding: 0 15px;
        }
        span{
            font-weight: 600;
            color: $silver;
            font-size: 15px;
        }
        h3{
            font-size: 30px;
            margin: 20px 0px;
            font-weight: 600;
        }
        p{
            font-size: 17px;
            color: $silver;
            line-height: 25px;
        }
        button{
            outline: none;
            border: none;
            padding: 18px 50px;
            background-color: $red;
            color: $white;
            font-size: 18px;
            font-weight: 600;
            border-radius: 10px;
            display: inline-block;
            margin-top: 30px;
        }
    }

    #{$this}__text{
        @include MediaQuery($tablet){
            margin-bottom: 60px;
        }
        flex: 0 0 55%;
        max-width: 55%;
    }

    #{$this}__image{
        flex: 0 0 45%;
        max-width: 45%;
        img{
            display: block;
            width: 100%;
            height: auto;
            border-radius: 10px;
        }
    }
}