.story{
    $this: &;
    padding: 48px 0px;
    background-color: #f7f7f7;
    #{$this}__content{
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        .width{
            @include MediaQuery($tablet){
                flex: 0 0 100%;
                max-width: 100%;
            }
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 15px;
        }
        .fade-in {
            -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
    }
    
    #{$this}__text{
        span{
            font-size: 14px;
            font-weight: 600;
            color: $silver;
        }
        h3{
            font-size: 35px;
            font-weight: 600;
            margin: 20px 0;
        }
        p{
            font-size: 18px;
            line-height: 28px;
            margin: 15px 0;
            color: $silver;
        }
        ul{
            li{
                margin: 20px 0;
                i{
                    font-size: 10px;
                    font-weight: 800;
                    margin-right: 20px;
                    color: $silver;
                }
                span{
                    font-size: 18px;
                    font-weight: 500;
                    color: $silver;
                }
            }
        }
    }
    #{$this}__image{
        @include MediaQuery($tablet){
            margin-bottom: 60px;
        }
        img{
            width: 100%;
            height: 300px;
            display: block;
            object-fit: cover;
            border-radius: 10px;
        }
    }
    button{
        outline: none;
        border: none;
        padding: 18px 50px;
        background-color: #f42a2a;
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 600;
        border-radius: 10px;
        display: inline-block;
        margin-top: 30px;
    }
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-6-13 18:58:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  