// .container{
    
//     max-width: 1200px;
//     margin: 0 auto;
//     // @include MediaQuery($tablet){
//     //     max-width: 700px;
//     // }
//     // @include MediaQuery($mobile){
//     //     max-width: 390px;
//     // }
// }


